@(title: String)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen"
        href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0">
                    <h3>Hi there. My name is Alex. I am passionate developer with more than 7 years experience in Java.</h3>
                </div>


            </div>

        </div>

    </body>
</html>