@import model.Post
@(post: Post)

<h2>
    <a href="#">@post.title</a>
</h2>
<p class="lead">
    by <a href="#">@post.author</a>
</p>
<p><span class="glyphicon glyphicon-time"></span> Posted on @post.date</p>
<hr>
<img class="img-responsive" src="http://placehold.it/900x300" alt="">
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
<a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

<hr>